* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.show-modal {
  color: #444;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@media (max-width: 768px) {
  body {
    display: inline-block;
  }

  h1 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
  }

  .show-modal:first-of-type {
    margin-top: 5rem;
  }

  .show-modal {
    font-size: 2rem;
    font-weight: 600;
    display: block;
    padding: 1.5rem 3rem;
    margin: 1rem auto;
  }

  .modal {
    width: 90%;
    position: none;
  }
}
