/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 100px auto;
}

button {
    color: grey;
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

button:hover {
    color: black;
    background-color: grey;
}

button::after {
    content: "+";
    font-size: 15px;
    font-weight: bold;
    float: right;
}

.active::after {
    content: '-';
    font-size: 15px;
    font-weight: bold;
    float: right;
}

.des {
    height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 150px auto;
}

button {
    width: 100%;
    color: grey;
    font-weight: bold;
    margin: 2px;
    padding: 10px;
    border: 0;
    outline: .5px solid #ddd;
    text-align: left;
    cursor: pointer;
}

.ative::after {
    content: '+';
    color: grey;
    font-size: 25px;
    font-weight: bold;
}

.des {
    height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}